**CODEBASICS EXERCISES: ARRAY DATA STRUCTURE**

1. Let say your expense for every month are listed below,
*   January - 2200
*   February - 2350
*   March - 2600
*   April - 2130
*   May - 2190

Create a list to store these monthly expenses and using that find out,
1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:
expenses = [2200, 2350, 2600, 2130, 2190]

print(expenses)

[2200, 2350, 2600, 2130, 2190]

In [ ]:
# 1. In Feb, how many dollars you spent extra compare to January?
answer_1 = expenses[1] - expenses[0]

print("In February, I have spent ", answer_1, " more dollars compared to January.")

In February, I have spent  150  more dollars compared to January.

In [ ]:
# 2. Find out your total expense in first quarter (first three months) of the year.
answer_2 = 0

for expense in expenses[:3]:
  answer_2 += expense

print("My total expenses in the first quarter of the year is ", answer_2, " dollars.")

My total expenses in the first quarter of the year is  7150  dollars.

In [ ]:
# 3. Find out if you spent exactly 2000 dollars in any month
answer_3 = 2000 in expenses

if answer_3 == True:
  print("I have spent exactly 2000 dollars in any month.")

else:
  print("I have not spent exactly 2000 dollars in any month.")

I have not spent exactly 2000 dollars in any month.

In [ ]:
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list.
expenses.append(1980)

print(expenses)

[2200, 2350, 2600, 2130, 2190, 1980]

In [ ]:
# 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this
expenses[3] = expenses[3] + 200

print(expenses)

[2200, 2350, 2600, 2330, 2190, 1980]

2. You have a list of your favourite marvel super heros.
*   heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
# 1. Find out the length of the list
heros = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

print(len(heros))

5

In [ ]:
# 2. Add black panther at the end of this list
heros.append('black panther')

print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
# 3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3, 'black panther')

print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [ ]:
# 4. Remove thor and hulk from list and replace them with doctor strange
heros[1:3] = ['doctor strange']

print(heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [ ]:
# 5. Sort the heros list in alphabetical order
heros.sort(reverse = False)

print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [1]:
print("This program takes a user input of a number and returns a list of all odd numbers between 1 and the maximum number.")

max = int(input("Input the maximum number: "))
odd_list = []

for number in range(max):
  if (number % 2 != 0):
    odd_list.append(number)

print(odd_list)

This program takes a user input of a number and returns a list of all odd numbers between 1 and the maximum number.
Input the maximum number: 90
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89]

**NOW YOU TRY IT!**

1. Write a procedure for reversing the elements of an array.
2. Write a procedure for merging two sorted arrays into one.
3. Formulate an algorithm for inserting a new element x into a sorted array A of size n.
4. Write a procedure for finding the minimum in an array and deleting it from the array.

In [ ]:
import numpy as np

x = np.array([3, 2, 4, 5, 1])
y = np.array([8, 6, 10, 7, 9])

In [ ]:
# 1. Write a procedure for reversing the elements of an array.
reverse_x = np.flip(x)

print("The reverse of the array x is: ", reverse_x)

The reverse of the array x is:  [1 5 4 2 3]

In [ ]:
# 2. Write a procedure for merging two sorted arrays into one.
sorted_x = np.sort(x)
sorted_y = np.sort(y)

z = np.concatenate((sorted_x, sorted_y))

print(z)

[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
# 3. Formulate an algorithm for inserting a new element x into a sorted array A of size n.
sorted_x = np.sort(x)
sorted_x = np.append(sorted_x, 11)

print(sorted_x)

[ 1  2  3  4  5 11]

In [ ]:
# 4. Write a procedure for finding the minimum in an array and deleting it from the array.
sorted_x = np.sort(x)
sorted_x = np.delete(sorted_x, 0)

print(sorted_x)

[2 3 4 5]